/Trabalho_01_BuscaPadraoWeb/nbproject/private/
/Trabalho_01_BuscaPadraoWeb/build/
/Trabalho_01_BuscaPadraoWeb/dist/
/interpretador/nbproject/private/
/interpretador/build/
/interpretador/dist/
/Trabalho_02_Compilador/nbproject/private/
/Trabalho_02_Compilador/build/